extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Kurs Matematyka
      div.NavButtons
        a
          div.NavButton ZALOGUJ
    div.Message
      div.Title
        h3 Jedyny na rynku
        h1 Kurs do Egzaminu Ósmoklasisty
      span.Details Kompleksowa platforma e-learningowa
    footer.Message.Footer 
        p COPYRIGHT 2022 WOJCIECH BŁASZAK ANTONI GMITRUK JAKUB ŚCIOCH
        a PRIVACY POLICY
    